body {
    overflow-x:hidden;
    background-color: $bckground_color;
}
@mixin button_style{
        width: 120px;
        height: 40px;
        background-color: $btn_color;
        border-color:transparent;
        border-radius: 3px;
        color: white;
        font-size: 12px;
        font-weight: bold;
}

.header {
    background: $header_img no-repeat ;
    background-position-y: 55%;
    background-size: cover;
    height: 500px;
    border-bottom-right-radius: 580px 280px;
}

   .landing-logo {
     display: flex;
     align-items: flex-start;
     padding-top: 15px;
     p     {
        font-weight: bold;
        margin-top: 1px;
        padding: 0px 10px;
        font-size: 17px;
        letter-spacing: 0.01em;
    }
       img{
           color: $land_color;
       }
}
span{
    display: block;
    font-size: 10px;
    font-family: $text_font;
}
.header_heading{

    font-family: 'Hind', sans-serif;
    font-size: 40px;
    font-weight: bold;
    width: 280px;
    height: 90px;        
    word-wrap: break-word;
    padding-left: 120px;
    color: $color_text;
}
.header_heading::after{
    content: "awesome";
    background-color: $mark_color;
    position: relative;
    top: -65px;
    
}

.header_text{
    font-family: $fresca_font;
    font-size: 11px;
    color: #2c2f3c;
    font-weight: 200;
    width: 500px;
    margin-left: 115px;
    white-space: pre-line;
    margin-top: 0px;
}
button {
    @include button_style;
    margin: auto;
    margin-left: 95px;
    }
.login{
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    margin-left: 120px;
    color: #ffffff;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    .section_text{
        position: relative;
        margin:35px 0 25px 0;
        color: $color_text;
        font-size: 42px;
        font-family: $source_sans;
        font-weight: 600;
        letter-spacing: -1px;
        z-index: 2;
        &:before{
            content: '';
            position: absolute;
            width: 175px;
            height: 50px;
            left: 208px;
            bottom: 5px;
            background-color: cornflowerblue;
            z-index: -1;
        }
    }
}
.section_card_wrap{
    .section_card{
        display: flex;
        font-family: white; 
        flex-direction: row;
        background-color: #21232e;
        margin: 10px 30px 10px 30px;
        width: 1000px;
        height: 200px;
        border-radius: map-get($borders, medium);
        padding: 8px;
    }
    .section_card_right_container{
        padding: 0px 90px 50px 60px;
        line-height: 1em;
        display: flex;
        text-align: center;
        flex-direction: column;
        .section_card_heading{
            color:white;
            font-size: 22px;
        }
        .section_card_text{
            font-family: $fresca_font;
            color: $card_color;
            text-align: left;
        }
        .section_card_img{
            margin: 10px;
            width: 110%;
            border-radius: map-get($borders, medium);
        }
        .section_link{
            margin-top: 20px;
            color: #c0c3ce;
        }
    }
}
.section_banner{
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: relative;
    bottom:-70px;
    margin-top: 70px;
    background: $gradient;
    border-radius: map-get($borders, small);
    width: 1100px;
    height: 140px;
    z-index: 1;
    .section_banner_text_wrap{
        flex-direction: column;
        display: flex;
        text-align: left;
        line-height: 2px;
        margin: auto;
        .section_banner_heading{
            font-family: $source_sans; 
            color: color_text;
            font-size: 25px;
            font-weight: bold;
            position: relative;
            z-index: 2;  
            &::after {
                content: '';
                width: 53px;
                height: 40px;
                background-color: $mark_color;
                position: absolute;
                left: 100px;
                bottom: 10px;
                top:0px;
                z-index: -1;
                margin-top: -22px;
            }
        }
        
    }
        .section_banner_text{
            color:#ccc;
            font-family: $fresca_font;
            font-size: 12px;
            font-weight: 400;
            text-align: left;
            margin-top: 6px;
            margin-bottom: 30px;
            
        }
}

.footer {
    background-color: #21232e;
    font-size: 11px;
    padding-bottom: 20px;

    .footer-wrap {
        width: 1200px;
        margin: 0 auto;
        padding-top: 85px;
        display: flex;
        align-items: center;
        color: $land_color;
        justify-content: space-between;

        .footer_logo {
            color: $land_color;
        }

        .footer_text {
            @extend .footer_logo;
            width: 300px;
            font-family: $fresca_font;
            margin-left: 0px;
        }
    }
}






