$header_img: url('../img/m-h-night.jpg');
$gradient: linear-gradient(to right, #dea306, #932c53);
$fresca_font:'Fresca', sans-serif;
$source_sans:'Source Sans Pro', sans-serif;
$text_font:'Hind', sans-serif;
$color_text: #2c2f3c;
$mark_color: #ff4e33;
$land_color: white;
$btn_color: #dea306;
$bckground_color: #21232e;
$card_color: #3b3f50;
$borders: (
    small: 5px,
    medium: 6px,
    large: 40%,
);