$header_img: url('../img/m-h-day.jpg');
$gradient: linear-gradient(to right, #690, #36c);
$fresca_font:'Fresca', sans-serif;
$source_sans:'Source Sans Pro', sans-serif;
$text_font:'Hind', sans-serif;
$color_text: #2c2f3c;
$mark_color: cornflowerblue;
$land_color: white;
$btn_color: #690;
$bckground_color: #fff;
$card_color: #ccc;
$borders: (
    small: 5px,
    medium: 6px,
    large: 40%,
);